<div class="select-box">
    <div class="select-box__wrapper">
        <input class="field__input"
               name="{{::name}}"
               id="{{::name}}"
               type="text"
               ng-model="value"
               ng-required="required"
               ng-click="open()"
               autocomplete="off" />
    </div>
    <div class="field__dropdown" ng-hide="!isOpen">
        <div class="field__dropdown-option"
             ng-repeat="option in values | filter: {name: value} track by $index"
             ng-click="setValue(option.name)">{{ option.name }}</div>
    </div>
</div>