.field {

    &__valid {
        display: none;
        font-family: 'robotolight', 'Myriad Pro', Helvetica, Arial, sans-serif;

        .field__wrapper--error & {
            display: inline-block;
            animation: showIn .5s forwards linear;
        }
    }

    &__wrapper {
        margin-bottom: 2.6rem;

        &--error {
            color: $color-error;
        }

        &--buttons {
            text-align: right;
        }
    }

    &__label {
        display: block;
        margin-bottom: 1.4rem;
        font-size: 1.5rem;
    }

    &__dropdown {
        border: {
            bottom: 1px solid $color-main-border;
            left: 1px solid $color-main-border;
            right: 1px solid $color-main-border;
        }

        border-bottom: {
            left-radius: 0.3rem;
            right-radius: 0.3rem;
        }
        max-height: 15rem;
        overflow: auto;
        font-size: 1.4rem;

        &-option {
            padding: 1rem 1rem;
            color: $color-text;

            &:hover {
                background: rgba($color-main-border, 0.2);
                cursor: pointer;
            }
        }
    }

    &__input {
        font-size: 2.2rem;
        line-height: 2rem;
        outline: none;
        width: 100%;
        border: {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0.1rem solid $color-main-border;
        }

        .field__wrapper--error & {
            border-bottom: 0.1rem solid $color-error;
        }
    }
}